.navbar {
    display: block;
    background: blue;
    color: white;
}

#dash {
    font-size: 30px;
    text-align: center;

}

hr.my-4 {
    border: none;
}

.display-4 {
    background-color: blue;
    color: white;
    text-align: center;
    font-style: oblique;
}

.container-city {
    border: thin;
    border-color: grey;

}


#wind {
    padding-left: 0%;
}

#current-city {
    list-style-type: none;
    font-size: 30px;
}

.five {
    background-color: blue;
    color: white;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.history {
    background-color: aqua;
    height: 400px;
}

.lead {
    height: 50px;
    padding-right: 100px;
    margin-left: -300px;
}

.uv-box {
    text-align: center;
    height: 30px;
    width: 50px;
    background: white;
    
}
.normal {
    background-color: green;
}

.warning {
    background-color: yellow;
}

.danger {
    background-color: red;
}

p {
    margin-bottom: 2px;
}